{% extends "layout.html" %}
{% block content %}
<section>
<h1 style="margin-bottom : 40px; margin-top : 80px; text-align : center" class="display-2">Results</h1>
    {% if resultLength > -1 %}
        {% if searchTerm|length > 0 %}
            <h2 class="display-5" style="margin-left : 10px;">{{ resultLength }} results were found for '{{ searchTerm }}'</h2>
        {% else %}
            <h2 class="display-5" style="margin-left : 10px;">{{ resultLength }} results were found </h2>
        {% endif %}
    {% endif %}
</section>
<section>
    <div class="table-responsive" style="margin-bottom : 60px;">
        <table class="table table-bordered table-striped table-light">
            <thead class="thead-dark">
                <tr>
                    {% for element in getdata[0] %}

                    <th scope="col">{{ element.replace('prod_','').upper() }}</th>

                    {% endfor %}
                </tr>
            </thead>
            {% for row in getdata[1:] %}
            <tr>
                {% for i in range(0, dataLength - 1) %}
                {% if i == 3 %}
                <td><img onerror="this.src='../static/assets/media/placeholder.jpg'; this.style='width : 160px; height : 160px;'"
                        src="{{ '../static/assets/media/' + row[i]}}"></td>
                {% else %}
                <td>{{ row[i]}}</td>
                {% endif %}
                {% endfor %}
                <td>
                    <ul class="list-group">
                        {% for item in row[dataLength - 1].replace('product_cat-','').replace('-',' ').title().split(',') %}
                        <li class="list-group-item">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}